.primary-bg-color{
    background-color: #21DADB;
}
.secondary-bg-color{
    background-color: #35BBDF;
}
.third-bg-color{
    background-color:#4D94E6;
}
.primary-txt-color{
    color: #21DADB;
}
.secondary-txt-color{
    color: #35BBDF;
}
.third-txt-color{
    color:#4D94E6;
}
